.cart-count {
    position: absolute;
    top: -0.125rem;
    right: 1.5rem;
    display: flex;

    @media (min-width: 640px) {
      right: 2.5rem;
    }

    @media (min-width: 768px) {
      right: 3rem;
    }

    @media (min-width: 1024px) {
      right: 3.75rem;
    }

    @media (min-width: 1200px) {
      right: 4.25rem;
    }

    @media (min-width: 1400px) {
      right: 5rem;
    }

    @media (min-width: 1600px) {
      right: 6rem;
    }

    @media (min-width: 1800px) {
      right: 6.75rem;
    }
}